.footer-container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 24px 0;
  border-top: 1px solid $Neutral-400;
  @include mobile {
    max-width: 100%;
    padding: 20px 0;
  }
}

.footer-text {
  font-size: 16px;
  @include mobile {
    font-size: 14px;
  }
}
