/***banner start***/
.banner {
  background-image: url(/assets/images/banner.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  @include mobile {
    background-image: url(/assets/images/banner-sm.png);
  }

  .banner-text {
    padding: 228px 61px;
    @include mobile {
      padding-top: 337px;
      padding-right: 20px;
      padding-left: 20px;
      padding-bottom: 48px;
      text-align: center;
    }
    h5,
    .btn-text {
      font-size: $h5-font-size;
      @include mobile {
        font-size: $h6-font-size;
      }
    }
    h1 {
      @include mobile {
        font-size: $h5-font-size;
      }
    }
  }
}

// 熱門主題
.rounded-custom {
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

// 精選文章
.card-width-bottom {
  width: 404px;
  height: 432px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid $Neutral-500;
}
// 母親節強檔活動
.bg-primary-200 {
  background: $primary-200;
}

.mb-display-none {
  @include mobile {
    display: none;
  }
}

.smiley-left {
  position: absolute;
  bottom: 0;
  left: 0; /* 根據需要調整位置 */
  width: 217px; /* 根據需要調整大小 */
}

.smiley-right {
  position: absolute;
  bottom: 0;
  left: 1016px; /* 根據需要調整位置 */
  width: 196px; /* 根據需要調整大小 */
}
// 大家都在看
.everyone-map {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 82px;
  background-color: $Accent-100;
  list-style-position: inside;
  border-radius: 12px;
}

/***全部***/

.hashtag-btn {
  font-size: $h6-font-size;
  color: $primary-400;
  background-color: $primary-300;
  border: 0;
  border-radius: 4px;
}
.more {
  font-size: 20px;
  text-decoration: none;
  color: $success;
}
.banner {
  height: calc(100vh - 80px);
}

// h1 {
//   font-size: 64px;
//   font-weight: bold;
//   color: $primaryColor;
//   @include mobile {
//     font-size: 24px;
//   }
// }
// h2 {
//   font-size: 48px;
//   color: $primaryColor;
//   font-weight: bold;
//   text-align: center;
//   margin-bottom: 48px;
//   @include mobile {
//     font-size: 24px;
//     margin-bottom: 24px;
//   }
// }

// h3 {
//   font-size: 36px;
//   color: $primaryColor;
//   @include mobile {
//     font-size: 16px;
//   }
// }
// h4 {
//   font-size: 24px;
//   color: $primaryColor;
//   font-weight: bold;
//   text-align: center;
// }
// h5 {
//   font-size: 48px;
//   color: $secondaryColor;
//   font-style: italic;
//   font-weight: bold;
//   text-align: center;
//   background-color: white;
// }
// p {
//   font-size: 16px;
// }
