.subscription-container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 100px 0;
  @include mobile {
    max-width: 100%;
    padding: 0 12px 60px;
  }
}

.root-text {
  font-size: 16px;
  @include mobile {
    font-size: 14px;
  }
}

.frequency-pay {
  margin-bottom: 60px;
  @include mobile {
    margin-bottom: 40px;
  }
}
.card-body {
  @include mobile {
  }
}
.subscription-card {
  height: 696px;
  color: $Neutral-400;
  background-color: white;
  @include mobile {
    height: 475px;
  }
  .card-body-list {
    list-style-type: none;
    margin-top: 416px;
    @include mobile {
      margin-top: 351px;
    }
  }
}
