.subscription-container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 100px 0;
  @include mobile {
    max-width: 100%;
    padding: 0 12px 60px;
  }
}

.root-text {
  font-size: 16px;
  @include mobile {
    font-size: 14px;
  }
}

.frequency-pay {
  margin-bottom: 60px;
  @include mobile {
    margin-bottom: 40px;
  }
}

.subscription-card {
  height: 696px;
  color: $Neutral-400;
  background-color: white;
  border: 1px solid $primary-300;
  border-radius: 12px;
  @include mobile {
    height: 475px;
  }
  .card-body-list {
    list-style-type: none;
    margin-top: 60px;
    letter-spacing: 0.1em;
    font-size: 20px;
    padding-left: 0;
    line-height: 1.2em;
    @include mobile {
      margin-top: 36px;
      font-size: 16px;
    }
  }
}

.subscription-card-extra {
  height: 696px;
  color: $Neutral-400;
  background-color: white;
  border: 2px solid $Accent-200;
  border-radius: 12px;
  @include mobile {
    height: 611px;
  }
  .card-body-list {
    list-style-type: none;
    margin-top: 60px;
    letter-spacing: 0.1em;
    font-size: 20px;
    padding-left: 0;
    line-height: 1.2em;
    margin-bottom: 0;
    @include mobile {
      margin-top: 36px;
      font-size: 16px;
    }
  }
}

.letter-spacing-01em {
  letter-spacing: 0.1em;
}
.price-down {
  text-align: center;
  font-size: 22px;
  color: $Neutral-300;
  text-decoration: line-through;
  line-height: 24px;
  @include mobile {
    font-size: 20px;
  }
}
.mt-60 {
  margin-top: 60px;
}
