<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MaintaskW6</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <main>
      <!-- 熱門主題 -->
      <section class="container">
        <h2>熱門主題</h2>
        <div class="row">
          <!-- 1 -->
          <div class="col-md-6 col-lg-3 gy-5 position-relative">
            <picture>
              <source
                media="(min-width: 992px)"
                srcset="../assets/images/theme-1.png"
                class="rounded-custom"
              />
              <img
                src="../assets/images/theme-1-sm.png"
                alt="theme-1-sm"
                class="w-100 rounded-custom"
              />
            </picture>
            <div
              class="position-absolute top-50 start-50 translate-middle text-white text-center"
            >
              <h5>城市漫遊者</h5>
            </div>
          </div>
          <!-- 2 -->
          <div class="col-md-6 col-lg-3 gy-5 position-relative">
            <picture>
              <source
                media="(min-width: 992px)"
                srcset="../assets/images/theme-3.png"
                class="rounded-custom"
              />
              <img
                src="../assets/images/theme-3-sm.png"
                alt="theme-3-sm"
                class="w-100 rounded-custom"
              />
            </picture>
            <div
              class="position-absolute top-50 start-50 translate-middle text-white text-center"
            >
              <h5>秘境尋蹤人</h5>
            </div>
          </div>
          <!-- 3 -->
          <div class="col-md-6 col-lg-3 gy-5 position-relative">
            <picture>
              <source
                media="(min-width: 992px)"
                srcset="../assets/images/theme-5.png"
                class="rounded-custom"
              />
              <img
                src="../assets/images/theme-5-sm.png"
                alt="theme-5-sm"
                class="w-100 rounded-custom"
              />
            </picture>
            <div
              class="position-absolute top-50 start-50 translate-middle text-white text-center"
            >
              <h5>品味設計家</h5>
            </div>
          </div>
          <!-- 4 -->
          <div class="col-md-6 col-lg-3 gy-5 position-relative">
            <picture>
              <source
                media="(min-width: 992px)"
                srcset="../assets/images/theme-8.png"
                class="rounded-custom"
              />
              <img
                src="../assets/images/theme-8-sm.png"
                alt="theme-8-sm"
                class="w-100 rounded-custom"
              />
            </picture>
            <div
              class="position-absolute top-50 start-50 translate-middle text-white text-center"
            >
              <h5>美食探險記</h5>
            </div>
          </div>
          <!-- 5 -->
          <div class="col-md-6 col-lg-3 gy-5 position-relative">
            <picture>
              <source
                media="(min-width: 992px)"
                srcset="../assets/images/theme-2.png"
                class="rounded-custom"
              />
              <img
                src="../assets/images/theme-2-sm.png"
                alt="theme-2-sm"
                class="w-100 rounded-custom"
              />
            </picture>
            <div
              class="position-absolute top-50 start-50 translate-middle text-white text-center"
            >
              <h5>美學建築誌</h5>
            </div>
          </div>
          <!-- 6 -->
          <div class="col-md-6 col-lg-3 gy-5 position-relative">
            <picture>
              <source
                media="(min-width: 992px)"
                srcset="../assets/images/theme-4.png"
                class="rounded-custom"
              />
              <img
                src="../assets/images/theme-4-sm.png"
                alt="theme-4-sm"
                class="w-100 rounded-custom"
              />
            </picture>
            <div
              class="position-absolute top-50 start-50 translate-middle text-white text-center"
            >
              <h5>慢活生活行</h5>
            </div>
          </div>
          <!-- 7 -->
          <div class="col-md-6 col-lg-3 gy-5 position-relative">
            <picture>
              <source
                media="(min-width: 992px)"
                srcset="../assets/images/theme-6.png"
                class="rounded-custom"
              />
              <img
                src="../assets/images/theme-6-sm.png"
                alt="theme-6-sm"
                class="w-100 rounded-custom"
              />
            </picture>
            <div
              class="position-absolute top-50 start-50 translate-middle text-white text-center"
            >
              <h5>工藝匠心賞</h5>
            </div>
          </div>
          <!-- 8 -->
          <div class="col-md-6 col-lg-3 gy-5 position-relative">
            <picture>
              <source
                media="(min-width: 992px)"
                srcset="../assets/images/theme-7.png"
                class="rounded-custom"
              />
              <img
                src="../assets/images/theme-7-sm.png"
                alt="theme-7-sm"
                class="w-100 rounded-custom"
              />
            </picture>
            <div
              class="position-absolute top-50 start-50 translate-middle text-white text-center"
            >
              <h5>時尚先鋒派</h5>
            </div>
          </div>
        </div>
      </section>
      <!-- 精選文章 -->
      <section class="container">
        <div class="row">
          <!-- 左邊區塊 -->
          <div class="col-4">
            <h2>精選文章</h2>
          </div>
          <!-- 右邊區塊 -->
          <div class="col-8">
            <div class="d-flex">
              <div class="card rounded-0 card-width-bottom me-11">
                <picture class="mb-5">
                  <source
                    media="(min-width: 992px)"
                    srcset="../assets/images/articles-1.png"
                    class="$border-radius-sm w-100"
                  />
                  <img
                    src="../assets/images/articles-1-sm.png"
                    alt="articles-1-sm"
                    class="w-100 $border-radius-sm"
                  />
                </picture>
                <div
                  class="card-body p-0 d-flex flex-column justify-content-between"
                >
                  <div class="">
                    <h5 class="mb-1">私人島嶼的露營奇遇記</h5>
                    <fs-6 class="text-Neutral-400"
                      >遠離塵囂,用全新的眼光重塑生活的舒適本味。徜徉在環山綠野間,在這處隱世私家別墅裡,盡情領略池畔優閒時光,任林間微風撫面,聆聽花鳥嘶啞之音,重拾內心深處的寧靜安詳...</fs-6
                    >
                  </div>
                  <div class="mb-5">
                    <a href="#" class="text-success fs-5">Read More</a>
                  </div>
                </div>
              </div>
              <div class="card rounded-0 card-width-bottom">
                <picture class="mb-5">
                  <source
                    media="(min-width: 992px)"
                    srcset="../assets/images/articles-2.png"
                    class="$border-radius-sm w-100"
                  />
                  <img
                    src="../assets/images/articles-2-sm.png"
                    alt="articles-1-sm"
                    class="w-100 $border-radius-sm"
                  />
                </picture>
                <div
                  class="card-body p-0 d-flex flex-column justify-content-between"
                >
                  <div class="">
                    <h5 class="mb-1">窺探米其林三星主廚的絕密手藝</h5>
                    <fs-6 class="text-Neutral-400"
                      >在這間隱世餐廳,來一場味蕾與靈魂的盛宴。幽微燈火下,透過巨匠大師的獨門料理,領略食材中蘊藏的大自然馨香脈絡。營造只屬於你我的私密小宇宙,沉浸其中,品嘗人生至臻至美的風味...</fs-6
                    >
                  </div>
                  <div class="mb-5 d-flex justify-content-between">
                    <div>
                      <a href="#" class="text-success fs-5">Read More</a>
                    </div>
                    <button type="button" class="vip-btn">會員專屬</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- 母親節強檔活動 -->
      <section class="container">
        <div class="mx-auto" style="width: 359px">
          <h4 class="mb-4 text-primary-400 text-center">\ 母親節強檔活動 /</h4>
          <h2 class="mb-4 text-Neutral-500 text-center">
            家庭訂閱方案限時 7 折
          </h2>
          <div class="text-Neutral-400 mx-12 mb-9">
            <p class="mb-3">
              <i class="bi bi-check-lg me-2"></i>每月最新文章無限閱讀
            </p>
            <p class="mb-3">
              <i class="bi bi-check-lg me-2"></i>專屬會員限定內容
            </p>
            <p class="mb-3"><i class="bi bi-check-lg me-2"></i>定期電子報</p>
            <p class="mb-3"><i class="bi bi-check-lg me-2"></i>年度精選禮物</p>
            <p class="mb-3">
              <i class="bi bi-check-lg me-2"></i>24 /7 優先客戶服務
            </p>
            <p><i class="bi bi-check-lg me-2"></i>為每個成員量身打造專屬行程</p>
          </div>
          <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-success text-white fs-5">
              我想了解
            </button>
          </div>
        </div>
      </section>
      <!-- 大家都在看 -->
      <section class="container"></section>
      <!-- 品味生活 -->
      <section class="container"></section>
      <!-- Vivre 給你意想不到的生活風格提案 -->
      <section class="container"></section>
      <!-- 想看什麼主題由你決定！ -->
      <section class="container"></section>
    </main>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
