<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MaintaskW6</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <main>
      <!-- banner -->
      <section class="banner">
        <div class="container bg-primary-200">
          <div class="banner-text">
            <h5 class="text-white mb-2">獻給新世代的生活風格誌</h5>
            <h1 class="text-white mb-5">一起探索生活的無限可能</h1>
            <button type="button" class="btn btn-success text-white btn-text">
              馬上訂閱<i class="bi bi-arrow-right ms-2"></i>
            </button>
          </div>
        </div>
      </section>
      <!-- 熱門主題 -->
      <section class="container">
        <h2>熱門主題</h2>
        <div class="row">
          <!-- 1 -->
          <div class="col-md-6 col-lg-3 gy-5 position-relative">
            <picture>
              <source
                media="(min-width: 992px)"
                srcset="../assets/images/theme-1.png"
                class="rounded-custom"
              />
              <img
                src="../assets/images/theme-1-sm.png"
                alt="theme-1-sm"
                class="w-100 rounded-custom"
              />
            </picture>
            <div
              class="position-absolute top-50 start-50 translate-middle text-white text-center"
            >
              <h5>城市漫遊者</h5>
            </div>
          </div>
          <!-- 2 -->
          <div class="col-md-6 col-lg-3 gy-5 position-relative">
            <picture>
              <source
                media="(min-width: 992px)"
                srcset="../assets/images/theme-3.png"
                class="rounded-custom"
              />
              <img
                src="../assets/images/theme-3-sm.png"
                alt="theme-3-sm"
                class="w-100 rounded-custom"
              />
            </picture>
            <div
              class="position-absolute top-50 start-50 translate-middle text-white text-center"
            >
              <h5>秘境尋蹤人</h5>
            </div>
          </div>
          <!-- 3 -->
          <div class="col-md-6 col-lg-3 gy-5 position-relative">
            <picture>
              <source
                media="(min-width: 992px)"
                srcset="../assets/images/theme-5.png"
                class="rounded-custom"
              />
              <img
                src="../assets/images/theme-5-sm.png"
                alt="theme-5-sm"
                class="w-100 rounded-custom"
              />
            </picture>
            <div
              class="position-absolute top-50 start-50 translate-middle text-white text-center"
            >
              <h5>品味設計家</h5>
            </div>
          </div>
          <!-- 4 -->
          <div class="col-md-6 col-lg-3 gy-5 position-relative">
            <picture>
              <source
                media="(min-width: 992px)"
                srcset="../assets/images/theme-8.png"
                class="rounded-custom"
              />
              <img
                src="../assets/images/theme-8-sm.png"
                alt="theme-8-sm"
                class="w-100 rounded-custom"
              />
            </picture>
            <div
              class="position-absolute top-50 start-50 translate-middle text-white text-center"
            >
              <h5>美食探險記</h5>
            </div>
          </div>
          <!-- 5 -->
          <div class="col-md-6 col-lg-3 gy-5 position-relative">
            <picture>
              <source
                media="(min-width: 992px)"
                srcset="../assets/images/theme-2.png"
                class="rounded-custom"
              />
              <img
                src="../assets/images/theme-2-sm.png"
                alt="theme-2-sm"
                class="w-100 rounded-custom"
              />
            </picture>
            <div
              class="position-absolute top-50 start-50 translate-middle text-white text-center"
            >
              <h5>美學建築誌</h5>
            </div>
          </div>
          <!-- 6 -->
          <div class="col-md-6 col-lg-3 gy-5 position-relative">
            <picture>
              <source
                media="(min-width: 992px)"
                srcset="../assets/images/theme-4.png"
                class="rounded-custom"
              />
              <img
                src="../assets/images/theme-4-sm.png"
                alt="theme-4-sm"
                class="w-100 rounded-custom"
              />
            </picture>
            <div
              class="position-absolute top-50 start-50 translate-middle text-white text-center"
            >
              <h5>慢活生活行</h5>
            </div>
          </div>
          <!-- 7 -->
          <div class="col-md-6 col-lg-3 gy-5 position-relative">
            <picture>
              <source
                media="(min-width: 992px)"
                srcset="../assets/images/theme-6.png"
                class="rounded-custom"
              />
              <img
                src="../assets/images/theme-6-sm.png"
                alt="theme-6-sm"
                class="w-100 rounded-custom"
              />
            </picture>
            <div
              class="position-absolute top-50 start-50 translate-middle text-white text-center"
            >
              <h5>工藝匠心賞</h5>
            </div>
          </div>
          <!-- 8 -->
          <div class="col-md-6 col-lg-3 gy-5 position-relative">
            <picture>
              <source
                media="(min-width: 992px)"
                srcset="../assets/images/theme-7.png"
                class="rounded-custom"
              />
              <img
                src="../assets/images/theme-7-sm.png"
                alt="theme-7-sm"
                class="w-100 rounded-custom"
              />
            </picture>
            <div
              class="position-absolute top-50 start-50 translate-middle text-white text-center"
            >
              <h5>時尚先鋒派</h5>
            </div>
          </div>
        </div>
      </section>
      <!-- 精選文章 -->
      <section class="container">
        <div class="row">
          <!-- 左邊區塊 要想辦法稱跟隔壁一樣高-->
          <div class="col-4">
            <h2>精選文章</h2>
          </div>
          <!-- 右邊區塊 -->
          <div class="col-8">
            <div class="d-flex">
              <div class="card rounded-0 card-width-bottom me-11">
                <picture class="mb-5">
                  <source
                    media="(min-width: 992px)"
                    srcset="../assets/images/articles-1.png"
                    class="$border-radius-sm w-100"
                  />
                  <img
                    src="../assets/images/articles-1-sm.png"
                    alt="articles-1-sm"
                    class="w-100 $border-radius-sm"
                  />
                </picture>
                <div
                  class="card-body p-0 d-flex flex-column justify-content-between"
                >
                  <div class="">
                    <h5 class="mb-1">私人島嶼的露營奇遇記</h5>
                    <fs-6 class="text-Neutral-400"
                      >遠離塵囂,用全新的眼光重塑生活的舒適本味。徜徉在環山綠野間,在這處隱世私家別墅裡,盡情領略池畔優閒時光,任林間微風撫面,聆聽花鳥嘶啞之音,重拾內心深處的寧靜安詳...</fs-6
                    >
                  </div>
                  <div class="mb-5">
                    <a href="#" class="more">Read More</a>
                  </div>
                </div>
              </div>
              <div class="card rounded-0 card-width-bottom">
                <picture class="mb-5">
                  <source
                    media="(min-width: 992px)"
                    srcset="../assets/images/articles-2.png"
                    class="$border-radius-sm w-100"
                  />
                  <img
                    src="../assets/images/articles-2-sm.png"
                    alt="articles-1-sm"
                    class="w-100 $border-radius-sm"
                  />
                </picture>
                <div
                  class="card-body p-0 d-flex flex-column justify-content-between"
                >
                  <div class="">
                    <h5 class="mb-1">窺探米其林三星主廚的絕密手藝</h5>
                    <fs-6 class="text-Neutral-400"
                      >在這間隱世餐廳,來一場味蕾與靈魂的盛宴。幽微燈火下,透過巨匠大師的獨門料理,領略食材中蘊藏的大自然馨香脈絡。營造只屬於你我的私密小宇宙,沉浸其中,品嘗人生至臻至美的風味...</fs-6
                    >
                  </div>
                  <div class="mb-5 d-flex justify-content-between">
                    <div>
                      <a href="#" class="more">Read More</a>
                    </div>
                    <button type="button" class="hashtag-btn">會員專屬</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- 母親節強檔活動 -->
      <section class="bg-primary-200">
        <div class="container">
          <h4 class="mb-4 text-primary-400 text-center">\ 母親節強檔活動 /</h4>
          <h2 class="mb-4 text-Neutral-500 text-center">
            家庭訂閱方案限時 7 折
          </h2>
          <div class="text-Neutral-400 mx-auto mb-9" style="width: 254px">
            <p class="mb-3">
              <i class="bi bi-check-lg me-2"></i>每月最新文章無限閱讀
            </p>
            <p class="mb-3">
              <i class="bi bi-check-lg me-2"></i>專屬會員限定內容
            </p>
            <p class="mb-3"><i class="bi bi-check-lg me-2"></i>定期電子報</p>
            <p class="mb-3"><i class="bi bi-check-lg me-2"></i>年度精選禮物</p>
            <p class="mb-3">
              <i class="bi bi-check-lg me-2"></i>24 /7 優先客戶服務
            </p>
            <p><i class="bi bi-check-lg me-2"></i>為每個成員量身打造專屬行程</p>
          </div>
          <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-success text-white fs-5">
              我想了解
            </button>
          </div>
        </div>
      </section>
      <!-- 大家都在看 -->
      <section class="container">
        <h2 class="mb-9">大家都在看</h2>
        <!-- 下方 -->
        <div class="row d-flex">
          <!-- align-items-stretch沒有生效,為甚麼? -->
          <div class="col-3">
            <div class="bg-white h-100 p-5">
              <ul class="fs-5 p-0">
                <!-- 這邊要改項目符號大小、把項目符號對齊 -->
                <li class="mb-5">
                  <a href="#" class="text-decoration-none">酒精路跑地圖</a>
                </li>
                <li class="mb-5">
                  <a href="#" class="text-decoration-none">台北拉麵圖鑑</a>
                </li>
                <li class="mb-5">
                  <a href="#" class="text-decoration-none">海島自由行</a>
                </li>
                <li class="mb-5">
                  <a href="#" class="text-decoration-none">短天數出國推薦</a>
                </li>
                <li><a href="#" class="text-decoration-none">週末露營趣</a></li>
              </ul>
            </div>
          </div>
          <div class="col-9">
            <div class="p-9 bg-white">
              <div class="">
                <h4 class="text-success">酒精路跑地圖</h4>
                <ul class="fs-6 my-5 list-unstyled">
                  <li class="mb-4">｜城市酒吧人氣榜,盤點當紅熱門酒吧</li>
                  <li class="mb-4">
                    ｜你要的調酒師在這裡！五月全台酒吧客座活動整理
                  </li>
                  <li>｜台南老宅手工酒藏,尋味百年人文釀意</li>
                </ul>
              </div>
              <div class="p-3 d-flex mb-5">
                <picture class="me-20">
                  <source
                    media="(min-width: 992px)"
                    srcset="../assets/images/hots-1.png"
                    class=""
                  />
                  <img
                    src="../assets/images/hots-1-sm.png"
                    alt="hots-1-sm"
                    class=""
                  />
                </picture>
                <picture class="me-20">
                  <source
                    media="(min-width: 992px)"
                    srcset="../assets/images/hots-1.png"
                    class=""
                  />
                  <img
                    src="../assets/images/hots-1-sm.png"
                    alt="hots-1-sm"
                    class=""
                  />
                </picture>
                <picture class="me-20">
                  <source
                    media="(min-width: 992px)"
                    srcset="../assets/images/hots-1.png"
                    class=""
                  />
                  <img
                    src="../assets/images/hots-1-sm.png"
                    alt="hots-1-sm"
                    class=""
                  />
                </picture>
                <picture>
                  <source
                    media="(min-width: 992px)"
                    srcset="../assets/images/hots-1.png"
                    class=""
                  />
                  <img
                    src="../assets/images/hots-1-sm.png"
                    alt="hots-1-sm"
                    class=""
                  />
                </picture>
              </div>
              <div class="d-flex justify-content-between">
                <div>
                  <button type="button" class="hashtag-btn me-3">
                    #夜貓行程
                  </button>
                  <button type="button" class="hashtag-btn me-3">
                    #barhopping
                  </button>
                  <button type="button" class="hashtag-btn">#全台酒吧</button>
                </div>
                <div>
                  <a href="#" class="more me-2"
                    >View More<i class="bi bi-arrow-right ms-2 me-5"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- 品味生活 -->
      <section class="container"></section>
      <!-- Vivre 給你意想不到的生活風格提案 -->
      <section class="container"></section>
      <!-- 想看什麼主題由你決定！ -->
      <section class="container"></section>
    </main>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
