<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>contact</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <main>
      <div class="subscription-container">
        <div class="root-text d-flex py-2">
          <a href="index.html" class="text-Neutral-400 text-decoration-none"
            >首頁</a
          >
          <p class="text-Neutral-400 mx-20">/</p>
          <a
            href="subscription.html"
            class="text-Accent-200 text-decoration-none"
            >訂閱方案</a
          >
        </div>
        <h3 class="fs-lg-9 mt-1 mt-lg-4">訂閱方案</h3>
      </div>
    </main>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
