<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>contact</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <main>
      <div class="subscription-container">
        <div class="root-text d-flex py-2">
          <a href="index.html" class="text-Neutral-400 text-decoration-none"
            >首頁</a
          >
          <p class="text-Neutral-400 mx-20">/</p>
          <a
            href="subscription.html"
            class="text-Accent-200 text-decoration-none"
            >訂閱方案</a
          >
        </div>
        <h3 class="fs-lg-9 mt-1 mt-lg-4 frequency-pay">訂閱方案</h3>
        <div class="row mb-lg-9 mb-5 d-flex justify-content-center">
          <div class="col-lg-2">
            <div class="py-2 bg-Accent-200 text-white text-center">
              <h6>年繳</h6>
            </div>
          </div>
          <div class="col-lg-2">
            <div class="py-2 text-Neutral-400 text-center">
              <h6 class="">月繳</h6>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <div
              class="subscription-card p-9 d-flex flex-column justify-content-between"
            >
              <div class="card-body">
                <h6 class="text-center">輕量型</h6>
                <div
                  class="d-flex justify-content-center align-items-center mt-3 mb-lg-9"
                >
                  <h2>NT 99</h2>
                  <h5>/ 月</h5>
                </div>
                <ul class="card-body-list">
                  <li>
                    <i class="bi bi-check-square-fill me-1"></i
                    >每月最新文章無限閱讀
                  </li>
                  <li>
                    <i class="bi bi-check-square-fill me-1"></i>專屬會員限定內容
                  </li>
                  <li>
                    <i class="bi bi-check-square-fill me-1"></i>定期電子報
                  </li>
                </ul>
              </div>
              <a href="#"
                ><button class="btn bg-Neutral-100">
                  我要訂閱<i class="bi bi-arrow-right ms-2"></i>
                </button>
              </a>
            </div>
          </div>
          <div class="col-4"></div>
          <div class="col-4"></div>
        </div>
      </div>
    </main>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
